<!DOCTYPE html>

	<html lang="pt-br">
		
		<head>
			<!-- DECLARAÇÕES DO BOOTSTRAP -->
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="css/index.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
			<!-- TITULO DA PAGINA -->
			<title>Anúncio</title>
		</head>
		
		<body> 
						
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				
				<nav class="navbar navbar-light bg-light">
					<a class="navbar-brand">
						<img src="img\logo.png" width="60" height="60" class="d-inline-block align-top" loading="lazy">
					</a>
				</nav>
				
				<a class="navbar-brand" href="http://localhost:4567/index"> BRIQUE DA GURIZADA </a>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/meu_perfil"> Meu perfil </a>
						</li>
												
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/procurar"> Procurar </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/anunciar"> Anunciar </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/meus_anuncios"> Meus anúncios </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/propostas_realizadas"> Propostas realizadas </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/propostas_recebidas"> Propostas recebidas </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/sobre"> Sobre o projeto </a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/logout"><strong>Logout</strong></a>
						</li>
												
					</ul>
	
				</div>
				
			</nav>
			
			<p></p>
						
			<div class="container-fluid col align-self-center">
		
				<!--Form novo anúncio -->
				<form class="col-md-6 rounded mx-auto d-block" method="POST">
					
					<h4>ANÚNCIO</h4>
					<div class="form-group"> 
						<small id="novoAnuncio" class="form-text text-muted">Dados do anúncio selecionado.</small>
					</div>
					
					<div class="form-group">
					  <label for="tituloAnuncio">Título</label>
					  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Carrega o título do anúncio" readonly>
					</div>
					
					<div class="form-group">
						<label for="tipoAnuncio">Tipo de anúncio</label>
						<input type="text" class="form-control" id="tipo" name="tipo" placeholder="Carrega o tipo de anúncio" readonly>
					</div>
						
					<div class="form-group">
						<label for="descricaoAnuncio">Descrição do anúncio</label>
						<textarea class="form-control" id="descricao" name="descricao" rows="5" placeholder="Carrega os detalhes das condições do anúncio" readonly></textarea>
					</div>
								
					<p></p>
															
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block rounded mx-auto d-block">Realizar proposta</button>
						<small id="notificacaoCadastro" class="form-text text-muted text-center">Ao clicar no botão, será redirecionado para a página de nova proposta.</small>
					</div>

				</form>

			</div>
						
		</body>
		
	</html>