					
<!DOCTYPE html>

<html lang="pt-br">
	
	<head>
		<!-- DECLARAÇÕES DO BOOTSTRAP -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/sobre.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
		<!-- TITULO DA PAGINA -->
		<title>Sobre</title>
	</head>
	
	<body> 
					
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="">
					<img src="img\logo.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy">
				</a>
			</nav>
			
			<a class="navbar-brand" href="http://localhost:4567/index"> BRIQUE DA GURIZADA </a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item">
						<a class="nav-link" href="https://www.google.com/"> Meu perfil </a>
					</li>
											
					<li class="nav-item">
						<a class="nav-link" href="https://www.google.com/"> Procurar </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="https://www.google.com/"> Anunciar </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="https://www.google.com/"> Ofertas recebidas </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="https://www.google.com/"> Minhas propostas </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="http://localhost:4567/sobre"> Sobre o projeto </a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="http://localhost:4567/logout"><strong>Logout</strong></a>
					</li>
					
				</ul>
				
			</div>
		</nav>
						
		<div class="container">		
			
			<form>
			
				<p><h4> SOBRE O PROJETO </h4></p>
				<div class="form-group"> <span class="badge badge-secondary"> RECURSOS              </span><small id="observacao1" class="form-text text-muted"> Framework Spark, Oracle XE, Github, Trello               </small></div>
				<div class="form-group"> <span class="badge badge-secondary"> GRUPO DESENVOLVEDOR   </span><small id="observacao2" class="form-text text-muted"> Charles Lemos, Giovani Lima, Antonio Rolim, Alex Córdova </small></div>
				<div class="form-group"> <span class="badge badge-secondary"> DISCIPLINA ACADEMICA  </span><small id="observacao3" class="form-text text-muted"> Programação orientada a objetos                          </small></div>
				<div class="form-group"> <span class="badge badge-secondary"> INSTITUIÇÃO DE ENSINO </span><small id="observacao4" class="form-text text-muted"> Universidade Lutera do Brasil ULBRA                      </small></div>
				<div class="form-group"> <span class="badge badge-secondary"> ENTREGA DO PROJETO    </span><small id="observacao5" class="form-text text-muted"> 03 de Dezembro de 2020                                   </small></div>
								
			</form>	
			
		</div>
	
	</body>
	
</html>