
	<!DOCTYPE html>

	<html lang="pt-br">
		
		<head>
			<!-- DECLARAÇÕES DO BOOTSTRAP -->
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="css/index.css">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
			<!-- TITULO DA PAGINA -->
			<title>Visualizar proposta recebida</title>
		</head>
		
		<body> 
						
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				
				<nav class="navbar navbar-light bg-light">
					<a class="navbar-brand" href="">
						<img src="http://localhost:4567/img/logo.png" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy">
					</a>
				</nav>
				
				<a class="navbar-brand" href="http://localhost:4567/index"> BRIQUE DA GURIZADA </a>
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/meu_perfil"> Meu perfil </a>
						</li>
												
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/procurar"> Procurar </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/anunciar"> Anunciar </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/meus_anuncios"> Meus anúncios </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/propostas_realizadas"> Propostas realizadas </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/propostas_recebidas"> Propostas recebidas </a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/sobre"> Sobre o projeto </a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="http://localhost:4567/logout"><strong>Logout</strong></a>
						</li>
												
					</ul>
	
				</div>
				
			</nav>
			
			<p></p>
						
			<div class="container-fluid col align-self-center">
		
				<!--Form novo anúncio -->
				<form class="col-md-6 rounded mx-auto d-block" method="POST">
					
					<h4>VISUALIZAR PROPOSTA RECEBIDA</h4>
					<div class="form-group"> 
						<small id="novoAnuncio" class="form-text text-muted">Você pode aceitar, recusar ou decidir mais tarde.</small>
					</div>
					
					<p></p>	
					
					<div class="form-group">
						<label for="nome">Anunciante</label>
						<input type="text" class="form-control" id="nome" name="nome" placeholder="Carrega aqui nome do anunciante" 
							value="" th:value="${proposta.nome}" readonly>
					</div>

					<div class="form-group">
						<label for="telefone">Telefone</label>
						<input type="text" class="form-control" id="telefone" name="telefone" placeholder="Carrega aqui telefone do anunciante" 
							value="" th:value="${proposta.telefone}"readonly>
					</div>
					
					<div class="form-group">
					  <label for="tituloAnuncio">Título do anúncio</label>
					  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Carrega aqui título" 
					  		value="" th:value="${proposta.tituloUm}"readonly>
					</div>
					
					<div class="form-group">
						<label for="tipoAnuncio">Tipo de anúncio</label>
						<input type="text" class="form-control" id="tipoAnuncio" name="tipo" placeholder="Carrega aqui tipo de anuncio (Serviço/Objeto)" 
							value="" th:value="${proposta.tipo}"readonly>
					</div>
						
					<div class="form-group">
						<label for="descricaoAnuncio">Descrição do anúncio</label>
						<textarea class="form-control" id="descricao" rows="5" placeholder="Datalhe das condições do anúncio ofertado" 
							text="" th:text="${proposta.descricao}" value="" th:value="${proposta.descricao}"readonly></textarea>
					</div>
					
					<div th:if="${proposta.ativo == 1}">
						<div class="form-group">
							<label for="aceiteProposta">Aceitar proposta</label>
							<select class="custom-select" name="aceite">
								<option>Selecione</option>
								<option value="0">Não</option>
								<option value="1">Sim</option>
							</select>
						</div>
													
						<p></p>
															
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block rounded mx-auto d-block">Confirmar</button>
						</div>

					</div>

					<div class="mt-3">
						<a class="btn btn-primary" role="button" href="http://localhost:4567/propostas_recebidas">Voltar</a>
					</div>

				</form>
				
			</div>
						
		</body>
		
	</html>